*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE ;
  --gray-600: #E2E4E9 ;

  --Inconsolata: "Inconsolata", monospace;
  --Maven: "Maven Pro", sans-serif;
  --Asap: "Asap", sans-serif;

  --title-lg: bold 3.5rem/1.2 var(--Asap);
  --title-md: bold 1.5rem/1.2 var(--Asap);
  --title-sm: bold 1rem/1.2 var(--Asap);
  --subtitle: 400 1.25rem/1.2 var(--Inconsolata);
  --text-md: 400 1rem/1.4 var(--Maven);
  --text-sm: 400 0.875rem/1.4 var(--Maven);
}

html{
  background-color: var(--gray-300);
  color: var(--gray-600);
}

header{
  gap: .5rem;
  text-align: center;

  & span{
    font: var(--subtitle);
    color: var(--red);
  }
  & h2{
    font: var(--title-md);
    color: var(--gray-600);
  }
  & p{
    font: var(--text-md);
    color: var(--gray-500);
  }
}

a{
  text-decoration: none;
  color: var(--gray-500);
  font: var(--text-md);
}